<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <h1>Vlan generator</h1>
    <form action="/" method="post">
        How many vlans:
        <input id="numberVlans" name="numberVlans" type="text">
        <input type="submit" value="Generate" >
    </form>
    <p>
        <%= error %>
    </p>
    <form action="/generate" method="post" >
        <% for (let i=0 ; vlanConfig.length> i ; i++ ){ %>
            <p>
                <%=vlanConfig[i].vlanNumber %>: <input value    ="<%=vlanConfig[i].name %>" name="vlanName" type="text"   >
                <label>Interface</label>
                    <button name="addInterface" value="<%=vlanConfig[i].vlanNumber %>" onclick="addInterface()" type="submit">+</button> 
            </p>
            <% } %>
                <input type="submit" value="Generate Text">
    </form>
</body>

<script>

    let addInterface = () => {
        alert("Interface inserida");

    }
/*         
<select name="switchPortMode">
                        <option value="access">Access</option>
                        <option value="trunk">Trunk</option>
                        <option value="dynamic">Dynamic</option>
                    </select>*/

    
</script>

</html>